<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Source+Serif+Pro&family=Zen+Kaku+Gothic+New:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro&family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
    <link href="../icons/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro&family=Zen+Kaku+Gothic+New:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro&family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Source+Sans+Pro:wght@600&family=Source+Serif+Pro&family=Zen+Kaku+Gothic+New:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header>
<nav class="borde">
    <ul class="borde">
        <li class="bordes">formlabs</li>
        <li class="bordes">3D Printers</li>
        <li class="bordes" >Materials</li>
        <li class="bordes">Software</li>
        <li class="bordes">Services</li>
        <li class="bordes">Industries</li>
        <li class="bordes">Learn</li>
        <li class="bordes">Support</li>
        <li><i class="fas fa-search"></i></li>
        <li ><i class="fas fa-flag-usa"></i></li>
        <li  ><i class="fas fa-user-alt"></i></li>
        <li ><i class="fas fa-shopping-cart"></i></li>
        <li class="bordes">Store</li>

    </ul>

</nav>
</header>
<main>

      <div class="imagen">
 <div class="text-intro">
        <h1 class="nueva">High Performance 3D Printers, <br> Finally Within Reach</h1>
         <h4 class="origen">Scale prototyping and production with affordable, industrial-quality SLA and SLS <br> 3D printers</h4>

     <input type="submit" value="Browse 3D Printers" class="but back">
       <input type="submit" value="Request a Free Sample Part" class="but back1">
 </div>
    </div>


    <section class="seccion">
<article class="artic">
    <div class="di">
    <i class="fas fa-tooth logo">
    <h2>Dental</h2>
   </i>
    </div>
    <div class="di">
        <i class="far fa-building logo">
        <h2>Engineering</h2>
    </i>
    </div>

    <div class="di">
        <i class="fas fa-box-open logo">
        <h2>Manufacturing</h2>
            </i>
    </div>

    <div class="di"><i class="fas fa-user-graduate logo">
     <h2>Education</h2>
    </i></div>
    <div class="di"><i class="fas fa-briefcase-medical logo ">
       <h2>Medical</h2>
    </i>
    </div>
    <div class="di">
        <i class="far fa-play-circle logo ">
        <h2>Enternaiment</h2></i></div>

    <div class="di">
        <i class="fas fa-gem logo">
        <h2>Jewerly</h2>
        </i>
    </div>

    <div class="di"> <i class="fas fa-volume-up logo">
        <h2>Audio</h2>
    </i>
    </div>
</article>
        </section>
<section class="fon">

 <div class="fon1">
        <h1>Find the Right Material for <br>Your Application:</h1>
     <p >Our interactive material wizard helps you make the right <br>
         decisions based on your application and the properties you care <br>
         the most about from our growing library of materials.</p>
     <input type="submit" value="Recommend Me a Material" class="butt">
   </div>
<div class="fon2">
    <img  class="photo" src="../img/fon2.png" >
       </div>
</section>
</main>
<main>

<section class="parte flex-reverse">

 <div class="parte2">
     <h2> INTERACTIVE</h2>
     <h2>Calculate Your Time and Cost Savings</h2>
      <p>Try our interactive ROI tool to see <br> how much time and cost you can  save when 3D printing <br> on Formlabs 3D printers.</p>
     <input type="submit" value="Calculate Your Savings" class="butt3">
   </div>
<div class="parteimg">
    <img  class="photo" src="../img/porfi.jpg" width="450" >
       </div>
</section>

</main>
<footer>
     <nav class="image">
    <ul  class="images">
<p class="pow">Powering Design and Production At:</p>
        <li class="log"><img src="../img/google.png" alt=""></li>
        <li class="log"><img src="../img/sony.png" alt=""></li>
        <li class="log"><img src=" ../img/newbalance.png"></li>
        <li class="log"><img src="../img/ford.png" alt=""></li>
        <li class="log"><img src="../img/gillete.png" alt=""></li>
        <li class="log"><img src="../img/harvard.png" alt=""></li>
    </ul>
    </nav>
    </footer>
</body>
</html>