<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpina</title>
    <link rel="stylesheet" href="../css/style.css">
      <link href="../icons/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/svg" href="../css/logo.svg" gif.gif>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@600;700&family=Quicksand:wght@300;400&family=Signika&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@600;700&family=Quicksand:wght@300;400&family=Signika&family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@600;700&family=Lexend+Deca&family=Quicksand:wght@300;400&family=Signika&family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Tillana:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&family=Tillana:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&family=Kaushan+Script&family=Tillana:wght@800&display=swap" rel="stylesheet">

</head>
<body>
<div class="inicio">
</div>
      <nav>
          <ul>
              <li > <div class="log"><img src="../css/logo.svg"> </div></li>
              <li> <button class="button type2"> Sostenibilidad  </button></li>
              <li> <button class="button type2"> Nutricion  </button></li>
              <li ><button class="button type2"> Productos  </button></li>
              <li><button class="button type2"> Recetas  </button></li>
              <li><button class="button type2"> Tiendas Alpina  </button></li>
              <li><button class="button type2">Empleo  </button></li>
              <li><i class="fas fa-search"></i></li>
               <li><i class="fab fa-shopify"></i></li>
              <li><a class="lin" href="registrar.html">Registrar</a></li>
              <li><a class="lin" href="login.html">Login</a></li>
               <li></li>

               <li class="redes"></li>
               <li class="logo1"><i class="fab fa-facebook-f"></i></li>
               <li class="logo1"><i class="fab fa-instagram"></i></li>
              <li class="logo1"><i class="fab fa-twitter"></i></li>
          </ul>
       </nav>
      <div>
      <div class="imagen">
 <div class="text-intro">
        <h1 class="nueva">Nueva línea</h1>
         <h1 class="origen">Origen Vegetal</h1>
        <h1 class="mara">marañón</h1>
     <input type="submit" value="Ver más" class="but">


 </div>
    </div>

    </div>
      <div class="content">
      <div class="col1">
          <h4>Productos Alpina</h4>
          <h1>Conoce los sabores de <br> Yogurt Original Alpina</h1>
          <p><b>El Yogurt</b> es un alimento que se obtiene de la fermentación de la leche por cultivos lácticos que ayudan a absorber los nutrientes de todo lo que comemos.</p>
  <br>
          <br>
          <input type="submit" value="Quiero ver más" class="button">
      </div>

         <div class="col2">
   <img class="photo" src="../css/yo.png">
      </div>

          </div>
<div class="fon">

 <div class="fon1">
        <h1>Inspirados en los colombianos, <br>
            nos comprometemos a:</h1>
   </div>
<div class="fon2">
  <ul>
    <li> Ser <b>PLÁSTICO NEUTRO</b> para el 2022, recuperando la misma cantidad de plástico que ponemos cada año en el mercado.</li>
      <br>

    <li>Ser <b>CARBONO NEUTRO</b> en nuestras operaciones para el 2022.</li>
      <br>

    <li>Garantizar que toda nuestra leche provenga de <b>GANADERÍA SOSTENIBLE CERTIFICADA</b> y zonas de <b>CERO DEFORESTACIÓN.</b></li>
      <br>

    <li>Seguir llevando <b>NUTRICIÓN</b> a los más de 1.100 municipios de Colombia.</li>
      <br>

      <li>Trabajar por un <b>PAÍS SIN HAMBRE</b>, compartiendo productos de alto valor nutricional con más 2,5 millones de colombianos en situación de vulnerabilidad.</li>
      <br>
    <li>Seguir generando <b>OPORTUNIDADES</b> para los 225.000 emprendedores, agricultores y pequeños negocios con los que trabajamos hoy en día.</li>
   <br>
    <li>Continuar <b>INNOVANDO</b> con productos deliciosos para ofrecer opciones diferentes y llenar de distintos sabores la vida de los colombianos.</li>
<br>
  </ul>
    <input type="submit" value="Quiero saber más" class="butt">
       </div>
</div>
<div class="ima-ho">
    <h1 class="receta"><b class="desc">Descubre nuevas recetas</b> para cada momento</h1>
</div>

<div class="galeria">
<div class="caja a"><img class="ia" src="../css/22.jpg">
    <div><p>Recetas para postres</p></div>
    </div>
<div class="caja b"><img class="ia" src="../css/bb.jpg">
       <div><p>Recetas para batidos</p></div>
</div>
<div class="caja c"><img class="ia" src="../css/cdc.jpg">
   <div ><p>Recetas para malteadas</p></div>
    </div>
<div class="caja d"><img class="ia"  src="../css/aba.jpg">
  <div><p>Recetas para almuerzos</p></div>
    </div>
</div>


    <div class="blanco"></div>

<button class="button type2">
 Button 2
 </button>
</body>

</html>