<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
       <link rel="stylesheet" href="../css/reg.css">
     <link href="../icons/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<form class="formulario">

    <h1>Crea tu cuenta</h1>
    <div class="contenedor">

        <div class="input-contenedor">
            <i class="fas fa-user-alt icon"></i>
        <input type="text" placeholder="Nombre Completo">
        </div>
          <div class="input-contenedor">
            <i class="far fa-envelope icon"></i>
        <input type="text" placeholder="Correo electronico">
         </div>
          <div class="input-contenedor">
              <i class="fas fa-lock icon"></i>
        <input type="password" placeholder="Contraseña">
        </div>

        <input type="submit" value="Registrate" class="button">
          <br>
         <br>
        <div>
        <label for="" >Condiciones</label>
        <br>
            <br>
        <input class="boton1" type="radio" value="a1" name="condiciones">Acepto los Términos y Condiciones
        <br>

       <input class="boton1" type="radio" value="a" name="condiciones1">Autorizo y declaro que soy mayor de edad, que he leído y acepto el tratamiento de mis datos personales <br>
       <br>
       <input type="submit" value="Enviar">
    </div>

        <p> ¿Ya tienes una cuenta?  <a class="link" href="login.html">Inicia sesion</a> </p>
    </div>



</form>


</body>
</html>