<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
       <link rel="stylesheet" href="../css/reg.css">
     <link href="../icons/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<form class="formulario">

    <h1>Login</h1>
    <div class="contenedor">

          <div class="input-contenedor">
            <i class="far fa-envelope icon"></i>
        <input type="text" placeholder="Correo electronico">
         </div>
          <div class="input-contenedor">
              <i class="fas fa-lock icon"></i>
        <input type="password" placeholder="Contraseña">
        </div>

        <input type="submit" value="Login" class="button">

        <p> ¿No tienes una cuenta?  <a class="link" href="registrar.html">Registrate</a> </p>
    </div>



</form>


</body>
</html>

